html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
}
.inner_container {
  width: 90%;
  max-width: 1200px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
.top_header {
  background-color: white;
  padding: 2rem;
}

.logo {
  margin: 0;
}
.logo_image {
  width: 10rem;
  display: block;
}
